def формат_часу (секунд):
    секунд = секунд %(24 * 3600)
    годин = секунд // 3600
    секунд %= 3600
    хвилин = секунд //60
    секунд %= 60
    print("секунд в годинах:",годин)
    print("секунд в хвилинах:",хвилин)
    print("секунд:",секунд)
    return "%02d:%02d:%02d" % (годин, хвилин, секунд)

n = int(input("Запропонуйте кількість секунд..."))
print("Час в приємному форматі:-", формат_часу(n))

